:root {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --bg-color: #000028;
  --title-color: #DB00FF;
  --text-color: #000028; 
  --content-color: #f1b2ce; 
  --button-hover: rgba(255, 0, 112, 0.4);
  --font-family: "IBM Plex Mono", monospace;
  --line-height: 1.3;
  --display-rec: flex;
  --section-title-color: var(--accent-color);
  --theme-toggle-color: var(--accent-color);
  --decoretion-color: var(--accent-color);
}